@model IEnumerable<TC.Repository.Entity.User>

@{
    ViewData["Title"] = "Список исполнителей";
}

<script src="~/assets/js/tableRowClick.js"></script>

<p>
    <a asp-action="Add">Добавить пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="list-selected highlight-on-hover" data-id="@item.Id" data-controller="User" data-action="Show">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </tbody>
</table>
