@model TC.Repository.Entity.Priority

@{
    ViewData["Title"] = "Удалить приоритет из базы данных";
}

<h3>
    Вы действительно хотите Удалить приоритет из базы данных?
</h3>

<div>
    <form asp-action="Remove">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Уволить" class="btn btn-default" /> |
        <a asp-action="ShowAll">Назад к списку</a>
    </form>
</div>
