@model TC.Repository.Entity.ToDoItem

@{
    ViewData["Title"] = "Удалить задачу";
}

<h3>Вы действительно хотите удалить задачу @Model.Title?</h3>

    <form asp-action="Remove">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="ShowAll">Назад к списку</a>
    </form>
</div>